#Ideas .card {
    transition: transform 0.2s ease-in-out;
    height: 30px;
  }
  
  #Ideas .card:hover {
    transform: translateY(-10px);
  }
  
  #Ideas .badge {
    font-size: 0.75rem;
  }
  
  #Ideas .btn {
    text-transform: capitalize;
  }
  
  #Ideas h2 {
    font-size: var(--font-sizeh2);
    color: var(--font-colorh2);
    font-weight: var(--font-weight);
    font-family: var(--font-familyh2);
  }
  
  #Ideas p {
    font-size: 1rem;
    color: #6c757d;
  }

  #Ideas {
    background-color: var(--bg-color2);
  }
  