
#Mission{
    margin-top: 250px;

    background-color: var(--bg-color2);
}
#ourstudy {
    color: red;
    /* padding-left: 20%; */
}

#Mission .Our-mission {
    font-weight: var(--font-weight);
    font-size: var(--font-sizeh2);
    color: var(--font-colorh2);
    font-family: var(--font-family);
    /* padding-left: 20%; */
}

#Mission .Our-mission-p {
    margin-top: 25px;
    font-size: var(--font-sizep);
  color: var(--font-colorp);
  font-family: var(--font-familyp);
}

/* Image Background and Position */
#Mission-storyimg {
    background: linear-gradient(rgba(7, 7, 7, 0.7), rgba(7, 7, 7, 0.7)),
        url(src/assets/AboutUsimg/about-story-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   width: 100%;
   margin: 20px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 2px 190px rgb(149, 149, 227);
}

/* Styling for the Logo */
#Mission .logo {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
    font-size: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    animation: pulsate 1.5s infinite;
    cursor: pointer;
}

/* Pulsate animation */
@keyframes pulsate {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.4);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 30px rgba(255, 0, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.4);
    }
}

@media (min-width: 768px) {
    #Mission-storyimg {
       margin-left: 49px;
       width: 40%;
      
    }
    #Mission{
        margin-top: 10px;
    }
    
}

