.testimonials-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.testimonials-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.testimonials-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.testimonials-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
}

.testimonial-card {
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
    padding:15px;
    border-radius: 20px;
    background-color: #005f73;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; /* Align text to the left */
    /* width: 350px; */
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px; /* Space between image and text */
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-handle {
    font-size: 1rem;
    color: #ddd;
    margin-bottom: 10px;
}

.card-message {
    font-size: 1rem;
    color: #e3e3e3;
    margin-bottom: 15px;
}

.close-icon {
    font-size: 18px;
    color: #e3e3e3;
    cursor: pointer;
    margin-top: 10px;
}

.carousel-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: #005f73;
}

@media (max-width: 1024px) {
    .testimonial-card {
        max-width: 45%; /* Show 2 testimonials at once */
    }
}

@media (max-width: 798px) {
    .testimonial-card {
        max-width: 90%; /* Show 1 testimonial at once */
    }
}

@media (min-width: 798px) {
    .testimonial-card {
        max-width: 22%; /* Show 4 testimonials at once */
    }
}
