.pricing-section {
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .hprice{
    color: orange;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .yl{
    border:1px solid white;
    height: 45px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .togglebuttons {
    display: inline-flex;
    margin: auto;
    background-color: #f5a623;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    
  }
  
  .togglebuttons button {
    color: black;
    padding: 5px 30px;
    border: none;
    background: transparent;
    /* color: white; */
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .toggle-buttons button.active {
    background-color: #f5a623;
    color: #000;
  }
  
  .pricingcards {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap; /* Ensure that cards wrap on smaller screens */
  }
  
  .pricing-card {
    background-color: #0c2d5e;
    color: white;
    width: 45%; /* Adjust width for responsiveness */
    max-width: 245px; /* Max width to ensure cards do not get too wide */
    /* max-height: 500px; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    position: relative; /* Positioning for the header label */
    margin-bottom: 20px; /* Add bottom margin to separate cards */
  }
  
  .cardheader {
    padding: 4px 20px;
    border-radius: 3px;
    border-top-right-radius: 40px;
    font-weight: bold;
    position: absolute; /* Use absolute positioning to place it on the left */
    top: 10; /* Adjusted position to be at the top of the card */
    left: -10px; /* Adjust this value as needed to align the label on the left */
    color: white;
    background-color: orange;
    /* z-index: 1; Ensure the header appears on top */
  }
  .features-list {
    list-style-type: none;
    padding: 0;
    margin: 50px 0 20px 0; /* Add top margin to give space for the header label */
    width: 100%;
  }
  
  .features-list li {
    border-bottom: 1px solid #aaa;
    padding: 8px 0;
    text-align: left;
  }
  
  .price-tag {
    background-color: #f5a623;
    color: white;
    font-weight: bold;
    padding: 0px 25px;
    border-radius: 25px;
    font-size: 18px;
    align-self: center;
  }
  
  @media (max-width: 768px) {
    
    /* @media (min-width: 768px){ */
    .pricing-card {
      width: 90%; /* On smaller screens, make the cards take up more space */
      max-width: 90%;
    }
    
  }
  /* Media Queries for responsiveness */
  @media (min-width: 768px) {
    /* @media (min-width: 768px){ */
   
       .togglebuttons button {
        
        padding: 5px 70px;
        
      }
    
  }
  
  @media (max-width: 480px) {
    .pricing-card {
      width: 100%; /* On very small screens, make each card take full width */
    }
  }
  
  
  /* PieChartComponent */