*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  /* Font Colors */
  --font-color: #1becb8; /* Primary text color */

  /* Fonts */
  --font-family: 'Arial, sans-serif';

  /* Background Colors */
  --bg-color: #5c5a5a; /* Light background */

  --font-size: 18px;

}
