*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font Colors */
  --font-colorh2: #1d1c1c; /* Primary text color */

  --font-colorp: #034EA2; /* Primary text color */

  --font-sizeh2:  38px;

  --font-weight:  bold;

  --font-sizep: 28px;

  --font-sizeh5: 15px;

  /* Fonts */
  --font-familyh2: 'Arial, sans-serif';

  --font-familyp: 'Arial, sans-serif';

  /* Background Colors */
  --bg-color1: rgb(86, 178, 234); /* Light background */

  --bg-color2: #fcfcfc; /* Light background */

  --card-bgcolor:rgb(239, 243, 247);

  --btn-color:orange;
  
}
p{
  /* font-size: 200?px; */
}
