*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font Colors */
  --font-colorh2: #1d1c1c; /* Primary text color */

  --font-colorp: #6c757d; /* Primary text color */

  --font-sizeh2:  48px;

  --font-weight:  bold;

  --font-sizep: 20px;

  --font-sizeh5: 15px;

  /* Fonts */
  --font-familyh2:""Roboto", serif'";

  --font-familyp: 'Arial, sans-serif';

  /* Background Colors */
  --bg-color1: #fef7e5; /* Light background */

  --bg-color2: #fcfcfc; /* Light background */

  --card-bgcolor:rgb(239, 243, 247);

  --btn-color:orange;
  
}
p{
  font-size: 15px;
}
input{
  font-size: 15px;
}
button{
  font-size: 15px;
}
textarea{
  font-size: 20px;
}
