/* General Styles */
#Faq .faq-title {
  font-size: var(--font-sizeh2);
  font-weight: var(--font-weight);
  margin-bottom: 10px;
  color: var(--font-colorp);
  font-family: var(--font-familyh2);

}

#Faq .faq-descriptionp {
  color: var(--font-colorp);
  font-size: var(--font-sizep);
  margin: 0 auto;
  max-width: 600px;
  font-weight: var(--font-weight);
}

#Faq .search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 15px;
  max-width: 90%;
  width: 550px;
  margin: 20px auto;
  height: 45px;
  /* background-color: #222; */
}

#Faq #Faqdescription {
  background-color: var(--card-bgcolor);
}


#Faq .search-icon {
  color: #888;
  margin-right: 10px;
}

#Faq .search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}

#Faq .faq-list {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  font-family: Arial, sans-serif;
}

#Faq .faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
}

#Faq .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 10px 0;
}

#Faq .faq-toggle {
  font-size: 20px;
  font-weight: bold;
}

#Faq .faq-answer {
  padding: 10px 0;
  font-size: 16px;
  color: #555;
}

#Faq.no-faqs {
  text-align: center;
  color: #383636;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #Faq .faq-title {
    font-size: 26px !important;
  }

  #Faq .faq-description {
    font-size: 14px !important;
  }

  #Faq .container-fluid {
    padding: 15px !important;
  }

  #Faq .search-input {
    font-size: 14px !important;
  }

  #Faq .container-fluid div {
    padding: 8px;
  }
}



@media (max-width: 480px) {
  #Faq .faq-title {
    font-size: 22px !important;
  }

  #Faq .faq-description {
    font-size: 12px !important;
  }

  #Faq .search-input {
    font-size: 12px !important;
  }
}